{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="appointment-form">
    <div class="col-12">
        <form action="{% url 'booking' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group mb-30">
                        <input type="text" name="your-name"
                        class="form-control" placeholder="
                        Your Name" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-30">
                        <input type="text" name="your-phone" class="form-control" placeholder="Phone Number" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-30">
                        <input type="email" name="your-email" class="form-control" placeholder="Email Address" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-30">
                        <select name="your-date" class="form-control">
                            <option value="Choose Your Schedule">Choose a date</option>
                            <option value="Monday">Monday</option>
                            <option value="Tuesday">Tuesday</option>
                            <option value="Wednesday">Wednesday</option>
                            <option value="Thursday">Thursday</option>
                            <option value="Friday">Friday</option>
                        <select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group mb-30">
                        <select name="your-time" class="form-control">
                            <option value="Choose Your Schedule">Choose a timeslot</option>
                            <option value="9AM to 10AM"> 9AM to 10AM</option>
                            <option value="11AM to 12PM">11AM to 12PM</option>
                            <option value="2PM to 4PM">2PM to 4PM</option>
                            <option value="5PM to 6PM">5PM to 6PM</option>
                        </select>
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group mb-30">
                        <textarea name="your-message" class="form-control" placeholder="Message"></textarea>
                    </div>
                </div>
                <div class="col-12 text-center">
                    <button type="submit" class="btn dento-btn">Book Now</button>
            </div>
        </div>
    </div>
</div>
{% endblock content %}