{% extends 'base.html' %}
{% block content %}
{% load static %}

<center>
    <h1>{{ contact.title }}</h1>
    <p>{{ contact.content }}</p>
</br></br>
        <center>
            <div class="col-8">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type ="submit" class="btn btn-primary primary-color contact-btn" value="Submit">
                </form>
            </div>
        </center>
{% endblock content %}